{% extends 'base.html.twig' %}

{% block title "Hello Page -" ~ parent() %}

{% block body %}

   {% for message in app.flashes('success') %}
      <div class="alert alert-success">
         {{ message }}
      </div>
   {% endfor %}

   Hello {{ name }} !!!
{% endblock %}
